body {
  font-family: sans-serif;
  background-image: url("https://thumbs.dreamstime.com/b/real-italian-pizza-margherita-napoli-isolated-white-background-real-italian-pizza-margherita-napoli-isolated-white-239708265.jpg");
  background-repeat: no-repeat;
  background-position: right;
}
nav {
  display: flex;
}

ul {
  display: flex;
}
li {
  margin: 1rem;
}
a {
  text-decoration: none;
  color: black;
}

header {
  text-align: center;
  font-size: 3rem;
}

.btn-view-menu {
  background-color: rgb(26, 141, 6);
  color: white;
  border: none;
  border-radius: 2%;
  width: 10rem;
  height: 2rem;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

footer {
  margin-top: 10rem;
}
